[submodule "3rdparty/cutlass"]
	path = 3rdparty/LLM_kernels/3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/half"]
	path = 3rdparty/LLM_kernels/3rdparty/half
	url = https://github.com/whitelok/half.git