build
debug
testing
deps
core.*
.cache
*.pyc
*_wrap.cxx
*_pywrap.py
*.pb.h
*.pb.cc
*_pb2.py
.vscode
.lint
tags
*_pb2.py
**/jce/*.h
*.rst
compile_commands.json
###################hbsun############################################
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

*.idea

*.d
*.obj
*.o
*.tlog
*.lastbuildstate
*.idb
*.pdb
*~
*.swp

*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
[Tt]humbs.db
*.iml
#CMakeLists.txt
cmake-build-debug
.idea
.tags
